# ======================
# Shopify Theme Access / CLI
# ======================
.shopify-cli.yml
config.yml
*.theme.lock
*.theme-check.yml

# ======================
# Environment variables
# ======================
.env
.env.*

# ======================
# Dependencies
# ======================
node_modules/

# ======================
# Build / Output
# ======================
dist/
build/
tmp/
.cache/

# ======================
# System / OS Files
# ======================
.DS_Store
Thumbs.db

# ======================
# VS Code
# ======================
.vscode/
